@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or tailwind.css */
.scrollbar-custom::-webkit-scrollbar {
  height: 6px; /* horizontal */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: rgba(160, 160, 160, 0.4); /* light neutral gray */
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.6); /* slightly darker on hover */
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(160, 160, 160, 0.4) transparent;
}
